:host ::ng-deep .mx-5{
    margin-right: 20rem !important;
}

:host ::ng-deep .px-1 {
    padding-right: 15rem !important;
}

::placeholder {
    color: blueviolet;
    padding-right: 100%;
  }

  .suggested-result{
    position: absolute;
    top: 40px;
    z-index: 10;
    display: list-item !important;
    border: 1px solid #ddd;
    background-color: #6c6969;
    border-radius: 5px;
    width: 300px;
  }

  .suggested-result li {
    padding:5px;
    border-bottom: 1px solid #ddd;
  }
  .suggested-result li a{
    cursor: pointer;
    color: rgb(246, 244, 248);
  }

  .suggested-result {
    list-style-type: none;
  }