<div class="row product-details" *ngIf="productData">
    <div class="col-sm-6">
        <img class="product-image" src="{{productData.productImageUrl}}" alt="">
    </div>
    <div class="col-sm-6">
        <div class="details mx-5">
            <h1>{{productData.productName}}</h1>
            <h5>Price: {{productData.productPrice}}</h5>
            <h6>Color: </h6>
            <div>
                <h6 [style.backgroundColor]="productData.productColor" class="productColor"></h6><h6>{{productData.productColor}}</h6>
                
            </div>
            <h6>Category: {{productData.productCategory}}</h6>
            <h6>Description: {{productData.productDescription}}</h6>
            <button>Add to Cart</button>
            <button class="mx-1">Buy Now</button>
            <div class="quantity-group my-1">
                <button (click)="handleQuantity('min')">-</button>
                <input type="text" value="{{productQuantity}}">
                <button (click)="handleQuantity('plus')">+</button>
            </div>
        </div>
    </div>
</div>