<div class="container">
  <div class="row" *ngFor="let item of searchResult">
    <div class="col-sm-3 my-3">
      <a routerLink="/details/{{item.id}}">
        <img
        src="{{item.productImageUrl}}"
      />
      </a>
    </div>
    <div class="col-sm-6 my-1 details">
      <h6><a routerLink="/details/{{item.id}}"> Product Name:{{item.productName}}</a></h6>
      <p><b>Price:{{item.productPrice}}</b></p>
      <p>Description: {{item.productDescription}}</p>
      <p>Color:{{item.productColor}}</p>
      <p>Category: {{item.productCategory}}</p>
    </div>
  </div>
</div>
