/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css"; 

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: black;
    border-radius: 5px;

}
.carousel-control-next-icon {
    position: relative;
    right: 20px;
}

.carousel-control-prev-icon {
    position: relative;
    left: 40px;
    padding-left: 30px;
}