<ngb-carousel *ngIf="popularProducts">
  <ng-template *ngFor="let item of popularProducts" ngbSlide>
    <div class="picsum-img-wrapper">
      <a routerLink="/details/{{item.id}}">
        <img
        class="product-header-image"
        src="{{ item.productImageUrl }}"
        alt="Random first slide"
      />
      </a>
    </div>
    <div class="carousel-caption">
      <h3>{{ item.productName }}</h3>
      <p>{{ item.productDescription }}</p>
    </div>
  </ng-template>
</ngb-carousel>

<div class="container" id="product-list-wrapper">
  <h1>Trendy Products</h1>
  <div class="row">

    <div class="col-sm-3" *ngFor="let item of trendyProducts">
      <div class="product-item">
        <a routerLink="/details/{{item.id}}">
          <img
          src="{{item.productImageUrl}}"
        />
        </a>


        <div class="product-details">
          <h5 class="name-head">{{item.productName}}</h5>
        </div>
        <div class="product-price">
          <h6>Price: {{item.productPrice}}</h6>
        </div>
        <div class="product-color">
          <h6>Colour: {{item.productColor}}</h6>
        </div>
        <div class="product-footer">
          <button class="btn btn-primary mx-1 my-1" routerLink="/details/{{item.id}}">View Details</button>
          <button class="btn btn-primary mx-1 my-1">Add to Cart</button>
        </div>
      </div>
    </div>

  </div>
</div>
